.main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.main-sidebar {
  flex: 1;
  background-color: rgb(5, 86, 70);
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-course {
  flex: 6;
  background-color: rgb(243, 247, 249);
  overflow-y: auto;
}
.main-sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

}
.main-sidebar ul {
  display: block;
  list-style: none;
}
.main-sidebar ul li {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fefefe;
  padding: 0 30px;
  border-left: 4px solid transparent;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif !important;
  transition: all 0.2s;
}
.main-sidebar ul li:hover {
  background-color: rgb(3, 43, 34);
  cursor: pointer;
}

.main-sidebar ul li:first-child {
  background-color: rgb(3, 43, 34);
  border-left: 4px solid #fff !important;
}

.side-bar-freshdesk-container {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  padding: 1.5rem 0;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.side-bar-freshdesk-heading {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;

  margin: 0 0 20px 0;
  width: 70%;
}

.side-bar-freshdesk-button {
    background-color: rgba(255, 255, 255, 0.08);
    width: 70%;
    color: inherit;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    padding: 0.5rem 0;
}